aioboto3==13.1.1
aio_pika==9.4.3
asyncpg==0.29.0
fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.10
sqlalchemy==2.0.35

moviepy==2.0.0.dev2
openai-whisper==20240927

scikit-learn==1.4.2

opencv-python
numpy
tqdm
librosa
scikit-image
ultralytics
torch
torchvision
ffmpeg-python
pysrt
nltk
spacy
scipy
scikit-learn
moviepy
mediapipe==0.10.14
whisper
pyphen
transformers
sentencepiece